{
  "regions": [
    "us-east-1",
    "ap-southeast-1"
  ],
  "services": [
    "RDS",
    "EC2"
  ],
  "skipinstances": {
    "RDS": [
      "rds-instance-name-to-skip"
    ],
    "EC2": [
      "ec2-instance-name-to-skip"
    ]
  },
  "matchtags": {
    "RDS": [
    ],
    "EC2": [
      { "tagname": "tagvalue" },
      { "tagname": "anothervalue", "differenttag": "foobar" }
    ]
  },
  "outputmetrics": {
    "RDS": [
      "CPUUtilization", "DatabaseConnections", "DiskQueueDepth", "FreeableMemory", "FreeStorageSpace", "SwapUsage", "ReadIOPS", "WriteIOPS", "ReadLatency", "WriteLatency", "ReadThroughput", "WriteThroughput", "NetworkReceiveThroughput", "NetworkTransmitThroughput"
    ],
    "EC2": [
      "DiskWriteBytes", "DiskReadBytes"
    ]
  }
} 
