{
  "regions": [
    "us-east-1",
    "ap-southeast-1"
  ],
  "awsservices": [
    "RDS",
    "EC2"
  ],
  "skipinstances": {
    "RDS": [
      "rds-instance-name-to-skip"
    ],
    "EC2": [
      "ec2-instance-name-to-skip"
    ]
  },
  "matchtags": {
    "RDS": [
    ],
    "EC2": [
      { "tagname": "tagvalue" },
      { "tagname": "anothervalue", "differenttag": "foobar" }
    ]
  },
  "dimensionname": {
    "RDS": "DBInstanceIdentifier",
    "EC2": "InstanceId",
    "EBS": "VolumeId",
    "ELB": "LoadBalancerName",
    "ApplicationELB": "LoadBalancer",
    "ElastiCache": "CacheClusterId",
    "DMS": "ReplicationInstanceIdentifier"
  },
  "outputmetrics": {
    "RDS": {
      "CPUUtilization": "Average", "DatabaseConnections": "Average", "DiskQueueDepth": "Average", "FreeableMemory": "Average", "FreeStorageSpace": "Average", "SwapUsage": "Average", "ReadIOPS": "Average", "WriteIOPS": "Average", "ReadLatency": "Average", "WriteLatency": "Average", "ReadThroughput": "Average", "WriteThroughput": "Average", "NetworkReceiveThroughput": "Average", "NetworkTransmitThroughput": "Average"
    },
    "EC2": {
      "CPUUtilization": "Average", "DiskWriteBytes": "Average", "DiskReadBytes": "Average", "DiskWriteOps": "Average", "DiskReadOps": "Average", "NetworkIn": "Average", "NetworkOut": "Average"
    },
    "EBS": {
      "VolumeReadBytes": "Sum", "VolumeWriteBytes": "Sum", "VolumeReadOps": "Sum", "VolumeWriteOps": "Sum", "VolumeTotalReadTime": "Sum", "VolumeTotalWriteTime": "Sum", "VolumeIdleTime": "Sum", "VolumeQueueLength": "Average"
    },
    "ELB": {
      "Latency": "Average", "RequestCount": "Sum", "SurgeQueueLength": "Maximum", "SpilloverCount": "Sum", "BackendConnectionErrors": "Sum", "HealthyHostCount": "Average", "HTTPCode_ELB_5XX": "Sum"
    },
    "ApplicationELB": {
      "ActiveConnectionCount": "Sum", "ClientTLSNegotiationErrorCount": "Sum", "HealthyHostCount": "Average", "HTTPCode_ELB_4XX_Count": "Sum", "HTTPCode_ELB_5XX_Count": "Sum", "HTTPCode_Target_2XX_Count": "Sum", "HTTPCode_Target_3XX_Count": "Sum", "HTTPCode_Target_4XX_Count": "Sum", "HTTPCode_Target_5XX_Count": "Sum", "NewConnectionCount": "Sum", "ProcessedBytes": "Sum", "RejectedConnectionCount": "Sum", "RequestCount": "Sum", "TargetConnectionErrorCount": "Sum", "TargetResponseTime": "Average", "TargetTLSNegotiationErrorCount": "Sum", "UnhealthyHostCount": "Sum"
    },
    "ApplicationELB-Target": {
      "ActiveConnectionCount": "Sum", "ClientTLSNegotiationErrorCount": "Sum", "HealthyHostCount": "Average", "HTTPCode_ELB_4XX_Count": "Sum", "HTTPCode_ELB_5XX_Count": "Sum", "HTTPCode_Target_2XX_Count": "Sum", "HTTPCode_Target_3XX_Count": "Sum", "HTTPCode_Target_4XX_Count": "Sum", "HTTPCode_Target_5XX_Count": "Sum", "NewConnectionCount": "Sum", "ProcessedBytes": "Sum", "RejectedConnectionCount": "Sum", "RequestCount": "Sum", "TargetConnectionErrorCount": "Sum", "TargetResponseTime": "Average", "TargetTLSNegotiationErrorCount": "Sum", "UnhealthyHostCount": "Sum"
    },
    "ElastiCache-Node-Memcache": {
      "CPUUtilization": "Average", "FreeableMemory": "Average", "SwapUsage": "Average", "CurrItems": "Average", "Evictions": "Average", "Reclaimed": "Average", "BytesUsedForCacheItems": "Average", "GetHits": "Average", "GetMisses": "Average", "NewItems": "Average"
    },
    "ElastiCache-Node-Redis": {
      "CPUUtilization": "Average", "FreeableMemory": "Average", "SwapUsage": "Average"
    },
    "DMS": { "CPUCreditBalance": "Average", "CPUCreditUsage": "Average", "CPUUtilization": "Average", "DiskQueueDepth": "Average", "FreeStorageSpace": "Average", "FreeableMemory": "Average", "ReadIOPS": "Average", "ReadLatency": "Average", "ReadThroughput": "Average", "SwapUsage": "Average", "WriteIOPS": "Average", "WriteLatency": "Average", "WriteThroughput": "Average"
    }
  }
} 
