{
  "regions": [
    "us-east-1",
    "ap-southeast-1"
  ],
  "awsservices": [
    "RDS",
    "EC2"
  ],
  "skipinstances": {
    "RDS": [
      "rds-instance-name-to-skip"
    ],
    "EC2": [
      "ec2-instance-name-to-skip"
    ]
  },
  "matchtags": {
    "RDS": [
    ],
    "EC2": [
      { "tagname": "tagvalue" },
      { "tagname": "anothervalue", "differenttag": "foobar" }
    ]
  },
  "dimensionname": {
    "RDS": "DBInstanceIdentifier",
    "EC2": "InstanceId",
    "EBS": "VolumeId"
  },
  "outputmetrics": {
    "RDS": {
      "CPUUtilization": "Average", "DatabaseConnections": "Average", "DiskQueueDepth": "Average", "FreeableMemory": "Average", "FreeStorageSpace": "Average", "SwapUsage": "Average", "ReadIOPS": "Average", "WriteIOPS": "Average", "ReadLatency": "Average", "WriteLatency": "Average", "ReadThroughput": "Average", "WriteThroughput": "Average", "NetworkReceiveThroughput": "Average", "NetworkTransmitThroughput": "Average"
    },
    "EC2": {
      "CPUUtilization": "Average", "DiskWriteBytes": "Average", "DiskReadBytes": "Average", "DiskWriteOps": "Average", "DiskReadOps": "Average", "NetworkIn": "Average", "NetworkOut": "Average"
    },
    "EBS": {
      "VolumeReadBytes": "Average", "VolumeWriteBytes": "Average", "VolumeReadOps": "Average", "VolumeWriteOps": "Average", "VolumeTotalReadTime": "Average", "VolumeTotalWriteTime": "Average", "VolumeIdleTime": "Average", "VolumeQueueLength": "Average"
    }
} 
